@model Entities.Usuario

@{
    ViewBag.Title = "Details";
}

<h1 class="page-title">
    Mi perfil
    @*<small>mejor conocido como...</small>*@
</h1>
@{  //Para mostrar solo la fecha sin la hora
    String newfecha = "";
    int c = 0;
    String value = (Model.FechaNacimiento).ToString();
    Char delimiter = ' ';
    String[] substrings = value.Split(delimiter);
    foreach (var substring in substrings)
    {
        if (c == 0)
        {
            newfecha = substring;
        }
        c++;

    }

}

<div class="profile">
    <div class="tabbable-line tabbable-full-width">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab">General </a>
            </li>
            <li>
                <a href="#tab_1_3" data-toggle="tab"> Cuenta </a>
            </li>
            <li>
                <a href="#tab_1_6" data-toggle="tab">Mas</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled profile-nav">
                            <li>


                                @if (Model.Foto != null)
                                {
                                    <div class="thumbnail">
                                        <img alt="foto" src="@Url.Action("GetImage", "Usuario", new { id = Model.UsuarioID, @class = "img-responsive pic-bordered" })" />
                                    </div>
                                }
                                else
                                {
                                    <div class="thumbnail">
                                        <img src="~/img/foto_vacia.png" alt="" class="img-responsive pic-bordered" />
                                    </div>
                                }

                            </li>
                            <li>
                                <a href="javascript:;"> Projects </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Messages
                                    <span> 3 </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"> Friends </a>
                            </li>
                            <li>
                                <a href="javascript:;"> Settings </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-8 profile-info">
                                <h1 class="font-green sbold uppercase">@Model.UserName</h1>
                                <p>
                                    @Model.Descripción
                                </p>
                                @*<p>
                                        <a href="javascript:;"> www.mywebsite.com </a>
                                    </p>*@
                                <ul class="list-inline">
                                    @*<li>
                                            <i class="fa fa-map-marker"></i> Spain
                                        </li>*@
                                    <li>
                                        <i class="fa fa-calendar"></i> @newfecha
                                    </li>
                                    <li>
                                        <i class="fa fa-briefcase"></i> @Model.Ocupacion
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> @Model.Carrera
                                    </li>
                                    @*<li>
                                            <i class="fa fa-heart"></i> BASE Jumping
                                        </li>*@
                                </ul>
                            </div>
                            <!--end col-md-8-->
                            <div class="col-md-4">
                                <div class="portlet sale-summary">
                                    <div class="portlet-title">
                                        <div class="caption font-red sbold"> Sales Summary </div>
                                        <div class="tools">
                                            <a class="reload" href="javascript:;"> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="sale-info">
                                                    TODAY SOLD
                                                    <i class="fa fa-img-up"></i>
                                                </span>
                                                <span class="sale-num"> 23 </span>
                                            </li>
                                            <li>
                                                <span class="sale-info">
                                                    WEEKLY SALES
                                                    <i class="fa fa-img-down"></i>
                                                </span>
                                                <span class="sale-num"> 87 </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> TOTAL SOLD </span>
                                                <span class="sale-num"> 2377 </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--end col-md-4-->
                        </div>
                        <!--end row-->
                        <div class="tabbable-line tabbable-custom-profile">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_11" data-toggle="tab"> Latest Customers </a>
                                </li>
                                <li>
                                    <a href="#tab_1_22" data-toggle="tab"> Feeds </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_11">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <i class="fa fa-briefcase"></i> Company
                                                    </th>
                                                    <th class="hidden-xs">
                                                        <i class="fa fa-question"></i> Descrition
                                                    </th>
                                                    <th>
                                                        <i class="fa fa-bookmark"></i> Amount
                                                    </th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="javascript:;"> Pixel Ltd </a>
                                                    </td>
                                                    <td class="hidden-xs"> Server hardware purchase </td>
                                                    <td>
                                                        52560.10$
                                                        <span class="label label-success label-sm"> Paid </span>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm grey-salsa btn-outline" href="javascript:;"> View </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="javascript:;"> Smart House </a>
                                                    </td>
                                                    <td class="hidden-xs"> Office furniture purchase </td>
                                                    <td>
                                                        5760.00$
                                                        <span class="label label-warning label-sm"> Pending </span>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm grey-salsa btn-outline" href="javascript:;"> View </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="javascript:;"> FoodMaster Ltd </a>
                                                    </td>
                                                    <td class="hidden-xs"> Company Anual Dinner Catering </td>
                                                    <td>
                                                        12400.00$
                                                        <span class="label label-success label-sm"> Paid </span>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm grey-salsa btn-outline" href="javascript:;"> View </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="javascript:;"> WaterPure Ltd </a>
                                                    </td>
                                                    <td class="hidden-xs"> Payment for Jan 2013 </td>
                                                    <td>
                                                        610.50$
                                                        <span class="label label-danger label-sm"> Overdue </span>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm grey-salsa btn-outline" href="javascript:;"> View </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="javascript:;"> Pixel Ltd </a>
                                                    </td>
                                                    <td class="hidden-xs"> Server hardware purchase </td>
                                                    <td>
                                                        52560.10$
                                                        <span class="label label-success label-sm"> Paid </span>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm grey-salsa btn-outline" href="javascript:;"> View </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="javascript:;"> Smart House </a>
                                                    </td>
                                                    <td class="hidden-xs"> Office furniture purchase </td>
                                                    <td>
                                                        5760.00$
                                                        <span class="label label-warning label-sm"> Pending </span>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm grey-salsa btn-outline" href="javascript:;"> View </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="javascript:;"> FoodMaster Ltd </a>
                                                    </td>
                                                    <td class="hidden-xs"> Company Anual Dinner Catering </td>
                                                    <td>
                                                        12400.00$
                                                        <span class="label label-success label-sm"> Paid </span>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm grey-salsa btn-outline" href="javascript:;"> View </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--tab-pane-->
                                <div class="tab-pane" id="tab_1_22">
                                    <div class="tab-pane active" id="tab_1_1_1">
                                        <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1">
                                            <ul class="feeds">
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-success">
                                                                    <i class="fa fa-bell-o"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc">
                                                                    You have 4 pending tasks.
                                                                    <span class="label label-danger label-sm">
                                                                        Take action
                                                                        <i class="fa fa-share"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> Just now </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <div class="col1">
                                                            <div class="cont">
                                                                <div class="cont-col1">
                                                                    <div class="label label-success">
                                                                        <i class="fa fa-bell-o"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="cont-col2">
                                                                    <div class="desc"> New version v1.4 just lunched! </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col2">
                                                            <div class="date"> 20 mins </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-danger">
                                                                    <i class="fa fa-bolt"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> Database server #12 overloaded. Please fix the issue. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 24 mins </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-info">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 30 mins </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-success">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 40 mins </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-warning">
                                                                    <i class="fa fa-plus"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New user registered. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 1.5 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-success">
                                                                    <i class="fa fa-bell-o"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc">
                                                                    Web server hardware needs to be upgraded.
                                                                    <span class="label label-inverse label-sm"> Overdue </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 2 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-default">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 3 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-warning">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 5 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-info">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 18 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-default">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 21 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-info">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 22 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-default">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 21 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-info">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 22 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-default">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 21 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-info">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 22 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-default">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 21 hours </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-info">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New order received. Please take care of it. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 22 hours </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--tab-pane-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--PERSONAL INFO ---------------------------------------------------------------------------------------------PERSONAL INFO-->
            <div class="tab-pane" id="tab_1_3">
                <div class="row profile-account">
                    <div class="col-md-3">
                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                            <li class="active">
                                <a data-toggle="tab" href="#tab_1-1">
                                    <i class="fa fa-eye"></i> Informacion personal
                                </a>
                                <span class="after"> </span>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab_2-2">
                                    <i class="fa fa-picture-o"></i> Foto de perfil
                                </a>
                            </li> 
                            <li>
                                <a data-toggle="tab" href="#tab_3-3">
                                    <i class="fa fa-lock"></i> Cambiar contraseña
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab_4-4">
                                    <i class="fa fa-cog"></i> Configuraciones
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div id="tab_1-1" class="tab-pane active">
                                @using (Html.BeginForm("EditPerfilContraEstatus", "Usuario", null, FormMethod.Post, new { id = "form_sample_3", @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.UsuarioID)
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.Nombres, new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control", required = "required", name = "name" } })
                                            @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.ApellidoPaterno, new { @class = "control-label" })
                                                @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control", required = "required", name = "name" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.ApellidoMaterno, new { @class = "control-label" })
                                                @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control", required = "required", name = "name" } })
                                            </div>
                                        </div>




                                    if (Model.Sexo == 1)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Sexo, new { @class = "control-label" })
                                                <div class="mt-radio-list" data-error-container="#form_2_membership_error">
                                                    <label class="mt-radio">
                                                        @*@Html.RadioButtonFor(model => model.Sexo, "true",new { @class = "membership" }) Mujer*@
                                                        @Html.RadioButtonFor(m => m.Sexo, "1", true) Mujer
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio">
                                                        @*@Html.RadioButtonFor(model => model.Sexo, "true",new { @class = "membership" }) Mujer*@
                                                        @Html.RadioButtonFor(m => m.Sexo, "0") Hombre
                                                        <span></span>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                                                </div>
                                                <div id="form_2_membership_error"> </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Sexo, new { @class = "control-label" })
                                                <div class="mt-radio-list" data-error-container="#form_2_membership_error">
                                                    <label class="mt-radio">
                                                        @*@Html.RadioButtonFor(model => model.Sexo, "true",new { @class = "membership" }) Mujer*@
                                                        @Html.RadioButtonFor(m => m.Sexo, "1") Mujer
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio">
                                                        @*@Html.RadioButtonFor(model => model.Sexo, "true",new { @class = "membership" }) Mujer*@
                                                        @Html.RadioButtonFor(m => m.Sexo, "0", true) Hombre
                                                        <span></span>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                                                </div>
                                                <div id="form_2_membership_error"> </div>
                                            </div>
                                        </div>
                                    }


                                    //Fecha, se separa la fecha para solo mostrar la fecha sin la hora



                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.FechaNacimiento, new { @class = "control-label" })
                                            <div class="form-control">
                                                @newfecha
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.FechaNacimiento, new { @class = "control-label" })
                                            <div class="form-control">

                                                @newfecha
                                            </div>

                                        </div>
                                    </div>




                                    List<SelectListItem> itt = new List<SelectListItem>();
                                    itt.Add(new SelectListItem
                                    {

                                        Text = "Ingeniería en Computación",
                                        Value = "Ingeniería en Computación",

                                    });
                                    itt.Add(new SelectListItem
                                    {
                                        Text = "Ingeniería Civil",
                                        Value = "Ingeniería Civil"


                                    });
                                    itt.Add(new SelectListItem
                                    {
                                        Text = "Ingeniería en Mecatrónica",
                                        Value = "Ingeniería en Mecatrónica"
                                    });
                                    itt.Add(new SelectListItem
                                    {
                                        Text = "Ingeniería Automotríz",
                                        Value = "Ingeniería Automotríz"
                                    });
                                    itt.Add(new SelectListItem
                                    {
                                        Text = "Ingeniería en Electrónica",
                                        Value = "Ingeniería en Electrónica"
                                    });
                                    itt.Add(new SelectListItem
                                    {
                                        Text = "Ingeniería en Telecomunicaciones",
                                        Value = "Ingeniería en Telecomunicaciones"
                                    });
                                    itt.Add(new SelectListItem
                                    {
                                        Text = "Ingeniería Aeronautica",
                                        Value = "Ingeniería Aeronautica"
                                    });
                                    itt.Add(new SelectListItem
                                    {
                                        Text = "Ingeniería Quimica",
                                        Value = "Ingeniería Quimica"

                                    });
                                    itt.Add(new SelectListItem
                                    {
                                        Text = "Ingeniería Petrolera",
                                        Value = "Ingeniería Petrolera"
                                    });
                                    itt.Add(new SelectListItem
                                    {
                                        Text = "Ingeniería Industrial",
                                        Value = "Ingeniería Industrial"
                                    });
                                    itt.Add(new SelectListItem
                                    {
                                        Text = "Ingeniería Agronoma",
                                        Value = "Ingeniería Agronoma",
                                    });
                                    itt.Add(new SelectListItem
                                    {
                                        Text = "Ingeniería  Mecánica",
                                        Value = "Ingeniería  Mecánica",
                                        Selected = true
                                    });





                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.Carrera, new { @class = "control-label", @for = "multi-append" })
                                            <div class="input-group select2-bootstrap-append">
                                                @Html.DropDownListFor(model => model.Carrera, itt, "Ingenieria", new
                                           {
                                               @class = "form-control select2",
                                               id = "multi-append",
                                               name = "options2",
                                               required = "required",
                                               @multiple = "",
                                               @Value = "hola"
                                           })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" data-select2-open="multi-append">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    //Ocupacion--------------------------------------------------------------

                                    List<SelectListItem> listItems2 = new List<SelectListItem>();
                                    listItems2.Add(new SelectListItem
                                    {
                                        Text = "Profesor",
                                        Value = "Profesor"
                                    });
                                    listItems2.Add(new SelectListItem
                                    {
                                        Text = "Jefe",
                                        Value = "Jefe",
                                    });
                                    listItems2.Add(new SelectListItem
                                    {
                                        Text = "Estudiante",
                                        Value = "Estudiante"
                                    });
                                    listItems2.Add(new SelectListItem
                                    {
                                        Text = "Me desarrollo ejerciendo mi profesion en una empresa",
                                        Value = "Me desarrollo ejerciendo mi profesion en una empresa"
                                    });
                                    listItems2.Add(new SelectListItem
                                    {
                                        Text = "Desarrollador",
                                        Value = "Desarrollador"
                                    });
                                    listItems2.Add(new SelectListItem
                                    {
                                        Text = "Inventor",
                                        Value = "Inventor",
                                    });
                                    listItems2.Add(new SelectListItem
                                    {
                                        Text = "Seleccionar",
                                        Value = "0",
                                        Selected = true
                                    });

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.Ocupacion, new { @class = "control-label", @for = "multi-append" })
                                            <div class="input-group select2-bootstrap-append">
                                                @Html.DropDownListFor(model => model.Ocupacion, listItems2, "Ingenieria", new
                                           {
                                               @class = "form-control select2",
                                               id = "multi-append",
                                               name = "options2",
                                               required = "required",
                                               @multiple = "",
                                               @Value = "hola"
                                           })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" data-select2-open="multi-append">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.Estatus, new { @class = "control-label" })
                                                <div class="form-control">
                                                    @estatus
                                                </div>
                                            </div>*@

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", required = "required", name = "name" } })
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Correo, new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", required = "required", name = "name" } })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.Contraseña)
                                        @Html.HiddenFor(model => model.Estatus)
                                    @*@Html.HiddenFor(model => model.Rol)*@

                                    if ((Model.Rol).Equals("A"))
                                    {
                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(model => model.Rol, new { @class = "control-label" })
                                                            <div class="mt-radio-list" data-error-container="#form_2_membership_error">
                                                                <label class="mt-radio">
                                                                    @*@Html.RadioButtonFor(model => model.Sexo, "true",new { @class = "membership" }) Mujer*@
                                                                    @Html.RadioButtonFor(m => m.Rol, "A", true) Administrador
                                                                    <span></span>
                                                                </label>
                                                                <label class="mt-radio">
                                                                    @*@Html.RadioButtonFor(model => model.Sexo, "true",new { @class = "membership" }) Mujer*@
                                                                    @Html.RadioButtonFor(m => m.Rol, "U") Usuario
                                                                    <span></span>
                                                                </label>
                                                                @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div id="form_2_membership_error"> </div>
                                                        </div>
                                                    </div>
                                    }
                                    else
                                    {

                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.Rol, new { @class = "control-label" })
                                                        <div class="form-control">
                                                           Usuario
                                                        </div>

                                                    </div>
                                                </div>
                                    }
                                        @Html.HiddenFor(model => model.Foto)

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Descripción, new { @class = "control-label" })
                                                @Html.TextAreaFor(model => model.Descripción, new { @class = "form-control",
                                               rows = "4" })
                                                @*<textarea class="form-control" rows="3" placeholder="We are KeenThemes!!!"></textarea>*@
                                            </div>
                                        </div>

                                            int getcambiospersonales = ViewBag.success;
                                           <input type="text" id="get_cambiospersonales" style='display:none;' value="@getcambiospersonales" />

                                        <div class="form-actions">
                                                    <button type="submit" class="btn green-sharp btn-circle" data-toggle="confirmation" data-popout="true">Guardar cambios</button>
                                        </div>
                                }
                            </div>
                            <div id="tab_2-2" class="tab-pane">
                                @*<p>
                                        ¡Todo un ingeniero!
                                    </p>*@
                                <div class="form-group">
                                    @{if (Model.Foto != null)
                                        {

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <ul class="list-unstyled profile-nav">
                                                        <li>
                                                            <div class="thumbnail">
                                                                <img alt="foto" src="@Url.Action("GetImage", "Usuario", new { id = Model.UsuarioID, @class = "img-responsive pic-bordered" })" />
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            using (Html.BeginForm("Edit", "Usuario", null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                                            {

                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                                @Html.HiddenFor(model => model.UsuarioID)
                                                @Html.HiddenFor(model => model.UserName)
                                                @Html.HiddenFor(model => model.Nombres)
                                                @Html.HiddenFor(model => model.ApellidoPaterno)
                                                @Html.HiddenFor(model => model.ApellidoMaterno)
                                                @Html.HiddenFor(model => model.Rol)
                                                @Html.HiddenFor(model => model.Sexo)
                                                @Html.HiddenFor(model => model.Ocupacion)
                                                @Html.HiddenFor(model => model.Carrera)
                                                @Html.HiddenFor(model => model.FechaNacimiento)
                                                @Html.HiddenFor(model => model.Descripción)
                                                @Html.HiddenFor(model => model.Correo)
                                                @Html.HiddenFor(model => model.Estatus)
                                                @Html.HiddenFor(model => model.Contraseña)

                                                <div class="row">
                                                    @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-3" })

                                                    <input id="upFile" type="file" class="file" name="upFile" />

                                                    <div class="form-actions">
                                                        <button type="submit" class="btn green-sharp btn-circle" data-toggle="confirmation" data-popout="true">Guardar cambios</button>
                                                    </div>

                                                </div>

                                            }
                                        }
                                        else
                                        {


                                            using (Html.BeginForm("Edit", "Usuario", null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                                            {

                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="file-loading">
                                                    @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-3" })
                                                  
                                                        <input id="upFile" type="file" class="file" name="upFile" />
                                                    
                                                </div>
                                                @Html.HiddenFor(model => model.UsuarioID)
                                                @Html.HiddenFor(model => model.UserName)
                                                @Html.HiddenFor(model => model.Nombres)
                                                @Html.HiddenFor(model => model.ApellidoPaterno)
                                                @Html.HiddenFor(model => model.ApellidoMaterno)
                                                @Html.HiddenFor(model => model.Rol)
                                                @Html.HiddenFor(model => model.Sexo)
                                                @Html.HiddenFor(model => model.Ocupacion)
                                                @Html.HiddenFor(model => model.Carrera)
                                                @Html.HiddenFor(model => model.FechaNacimiento)
                                                @Html.HiddenFor(model => model.Descripción)
                                                @Html.HiddenFor(model => model.Correo)
                                                @Html.HiddenFor(model => model.Estatus)
                                                @Html.HiddenFor(model => model.Contraseña)

                                                <div class="form-actions">
                                                    <button type="submit" class="btn green-sharp btn-circle" data-toggle="confirmation" data-popout="true">Guardar cambios</button>
                                                </div>
                                            }

                                        }
                                    }

                                </div>
                            </div>
                            <div id="tab_3-3" class="tab-pane">
                                @using (Html.BeginForm("EditPerfilContraEstatus", "Usuario", null, FormMethod.Post, new { @class = "register-form" }))
                                {

                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        <label class="control-label"> Nueva contraseña</label>
                                        @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label visible-ie8 visible-ie9" })
                                        <div class="input-icon">
                                            <i class="fa fa-lock"></i>
                                            @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control placeholder-no-fix", id = "register_password", autocomplete = "off",Value="", placeholder = "Nueva contraseña" , maxlength = "20", required = "required" } } )
                                            @*<input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password" />*@
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <label class="control-label">Repita su nueva contraseña</label>
                                            <label class="control-label visible-ie8 visible-ie9">Nueva contraseña</label>
                                            <div class="controls">
                                                <div class="input-icon">
                                                    <i class="fa fa-check"></i>
                                                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" maxlength="20" placeholder="Nueva contraseña" name="rpassword" required="required" />
                                                </div>
                                            </div>
                                        </div>
                                    //Campos ocultos
                                    @Html.HiddenFor(model => model.UsuarioID)
                                    @Html.HiddenFor(model => model.UserName)
                                    @Html.HiddenFor(model => model.Nombres)
                                    @Html.HiddenFor(model => model.ApellidoPaterno)
                                    @Html.HiddenFor(model => model.ApellidoMaterno)
                                    @Html.HiddenFor(model => model.Rol)
                                    @Html.HiddenFor(model => model.Sexo)
                                    @Html.HiddenFor(model => model.Ocupacion)
                                    @Html.HiddenFor(model => model.Carrera)
                                    @Html.HiddenFor(model => model.FechaNacimiento)
                                    @Html.HiddenFor(model => model.Descripción)
                                    @Html.HiddenFor(model => model.Correo)
                                    @Html.HiddenFor(model => model.Estatus)
                                    @Html.HiddenFor(model => model.Foto)

                                    
                                    <div class="form-actions">
                                        <button type="submit" class="btn green-sharp btn-circle" data-toggle="confirmation" data-popout="true">Guardar contraseña</button>
                                    </div>
                                }
                            </div>
                            @*ESTATUS----------------------------------------------------------------------*@
                            <div id="tab_4-4" class="tab-pane">
                                @using (Html.BeginForm("EditPerfilContraEstatus", "Usuario", null, FormMethod.Post, new { }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    //Campos ocultos
                                    @Html.HiddenFor(model => model.UsuarioID)
                                    @Html.HiddenFor(model => model.UserName)
                                    @Html.HiddenFor(model => model.Nombres)
                                    @Html.HiddenFor(model => model.ApellidoPaterno)
                                    @Html.HiddenFor(model => model.ApellidoMaterno)
                                    @Html.HiddenFor(model => model.Rol)
                                    @Html.HiddenFor(model => model.Sexo)
                                    @Html.HiddenFor(model => model.Ocupacion)
                                    @Html.HiddenFor(model => model.Carrera)
                                    @Html.HiddenFor(model => model.FechaNacimiento)
                                    @Html.HiddenFor(model => model.Descripción)
                                    @Html.HiddenFor(model => model.Correo)
                                    @Html.HiddenFor(model => model.Contraseña)
                                    @Html.HiddenFor(model => model.Foto)

                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td> Desabilitar cuenta temporalmente </td>
                                            <td>
                                                <div class="mt-radio-inline">
                                                    <label class="mt-radio">
                                                        @Html.RadioButtonFor(m => m.Estatus, "1", true) No
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio">
                                                        @Html.RadioButtonFor(m => m.Estatus, "0") Si
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--end profile-settings-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button class="btn green-sharp btn-circle" data-toggle="confirmation" data-popout="true">Guardar cambios</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!--end col-md-9-->
                </div>
            </div>
            <!--end tab-pane-->
            <div class="tab-pane" id="tab_1_6">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                          
                            <li class="active">
                                <a data-toggle="tab" href="#tab_1">
                                    <i class="fa fa-info-circle"></i> Eliminar
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            <div id="tab_1" class="tab-pane active">
                                <div id="accordion1" class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="btn red btn-outline sbold" data-toggle="modal" href="#basic">
                                                    <icon class="fa fa-trash"></icon> Eliminar cuenta
                                                </a>
                                                <a href="@Url.Action("Delete", "Usuario",new { id=Model.UsuarioID})" id="borrar_link" style='display:none;'>
                                                    <icon class="fa fa-info"></icon> Borrar
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end tab-pane-->
        </div>
    </div>
</div>



<div class="row" style='display:none;'>
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp sbold">Toastr Notification Demo</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            Actions
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;"> Option 1</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;">Option 2</a>
                            </li>
                            <li>
                                <a href="javascript:;">Option 3</a>
                            </li>
                            <li>
                                <a href="javascript:;">Option 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="title">Title</label>
                            <input id="title" type="text" class="form-control" value="Cambios" placeholder="Enter a title ..." />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="message">Message</label>
                            <textarea class="form-control" id="message" rows="3" placeholder="Enter a message ...">Guardados con exito</textarea>
                        </div>
                        <div class="form-group">
                            <div class="mt-checkbox-list">
                                <label class="mt-checkbox mt-checkbox-outline" for="closeButton">
                                    <input id="closeButton" type="checkbox" value="checked" checked class="input-small" />Close Button
                                    <span></span>
                                </label>
                                <label class="mt-checkbox mt-checkbox-outline" for="addBehaviorOnToastClick">
                                    <input id="addBehaviorOnToastClick" type="checkbox" value="checked" class="input-small" />Add behavior on toast click
                                    <span></span>
                                </label>
                                <label class="mt-checkbox mt-checkbox-outline" for="debugInfo">
                                    <input id="debugInfo" type="checkbox" value="checked" class="input-small" />Debug
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" id="toastTypeGroup">
                            <label>Toast Type</label>
                            <div class="mt-radio-list">
                                <label class="mt-radio mt-radio-outline">
                                    <input type="radio" name="toasts" value="success" />Success
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline">
                                    <input type="radio" name="toasts" value="info"  checked />Info
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline">
                                    <input type="radio" name="toasts" value="warning" />Warning
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline">
                                    <input type="radio" name="toasts" value="error" />Error
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="positionGroup">
                            <label>Position</label>
                            <div class="mt-radio-list">
                                <label class="mt-radio mt-radio-outline">
                                    <input type="radio" name="positions" value="toast-top-right" />Top Right
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline">
                                    <input type="radio" name="positions" value="toast-bottom-right" checked />Bottom Right
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline">
                                    <input type="radio" name="positions" value="toast-bottom-left" />Bottom Left
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline">
                                    <input type="radio" name="positions" value="toast-top-left" />Top Left
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline">
                                    <input type="radio" name="positions" value="toast-top-center" />Top Center
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline">
                                    <input type="radio" name="positions" value="toast-bottom-center" />Bottom Center
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline" l>
                                    <input type="radio" name="positions" value="toast-top-full-width" />Top Full Width
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline">
                                    <input type="radio" name="positions" value="toast-bottom-full-width" />Bottom Full Width
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="controls">
                                <label class="control-label" for="showEasing">Show Easing</label>
                                <input id="showEasing" type="text" placeholder="swing, linear" class="form-control input-small" value="swing" />
                                <label class="control-label" for="hideEasing">Hide Easing</label>
                                <input id="hideEasing" type="text" placeholder="swing, linear" class="form-control input-small" value="linear" />
                                <label class="control-label" for="showMethod">Show Method</label>
                                <input id="showMethod" type="text" placeholder="show, fadeIn, slideDown" class="form-control input-small" value="fadeIn" />
                                <label class="control-label" for="hideMethod">Hide Method</label>
                                <input id="hideMethod" type="text" placeholder="hide, fadeOut, slideUp" class="form-control input-small" value="fadeOut" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="controls">
                                <label class="control-label" for="showDuration">Show Duration</label>
                                <input id="showDuration" type="text" placeholder="ms" class="form-control input-small" value="1000" />
                                <label class="control-label" for="hideDuration">Hide Duration</label>
                                <input id="hideDuration" type="text" placeholder="ms" class="form-control input-small" value="1000" />
                                <label class="control-label" for="timeOut">Time out</label>
                                <input id="timeOut" type="text" placeholder="ms" class="form-control input-small" value="5000" />
                                <label class="control-label" for="timeOut">Extended time out</label>
                                <input id="extendedTimeOut" type="text" placeholder="ms" class="form-control input-small" value="1000" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn green" id="showtoast">Show Toast</button>
                        <button type="button" class="btn btn-outline dark" id="cleartoasts">Clear Toasts</button>
                        <button type="button" class="btn btn-outline dark" id="clearlasttoast">Clear Last Toast</button>
                    </div>
                </div>
                <div class="row margin-top-30">
                    <div class="col-md-12">
                        <pre id='toastrOptions' class="well">Settings...
						</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- /.modal-content -->
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Borrar cuenta</h4>
            </div>
            <div class="modal-body">¿Seguro de eliminar tu cuenta  <b>@Model.UserName </b> ? </div>
            <div class="modal-footer">
                <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">No</button>
                    <button type="button" id="borrar" class="btn red" onclick="borrar()">Borrar</button>
                </div>
                    </div>
                </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



@section Styles{
    <link href="~/Content/profile-2.min.css" rel="stylesheet" />
    <link href="~/Content/select2.css" rel="stylesheet" />
    <link href="~/Content/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />


}

@section Scripts{




<script src="~/Scripts/select2.full.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/wysihtml5-0.3.0.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap-wysihtml5.js" type="text/javascript"></script>
<script src="~/Scripts/ckeditor.js" type="text/javascript"></script>
<script src="~/Scripts/markdown.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap-markdown.js" type="text/javascript"></script>
<script src="~/Scripts/form-validation.js" type="text/javascript"></script>


<script src="~/Scripts/components-select2.min.js"></script>
<script src="~/Scripts/jquery.backstretch.min.js"></script>
<script src="~/Scripts/login-4.min.js"></script>

    @*<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
   <script src="~/Scripts/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/Scripts/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/components-select2.min.js"></script>
    <script src="~/Scripts/jquery.backstretch.min.js"></script>
   <script src="~/Scripts/login-4.min.js"></script>
    <script src="~/Scripts/form-validation.min.js" type="text/javascript"></script>*@

    <script src="~/Scripts/bootstrap-confirmation.min.js"></script>
    <script src="~/Scripts/ui-confirmations.min.js"></script>

<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/ui-modals.min.js"></script>



    <script src="~/Scripts/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/Scripts/ckeditor.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/Scripts/markdown.js" type="text/javascript"></script>
   

    @*//foto*@
    <script src="~/Scripts/piexif.js"></script>
    <script src="~/Scripts/piexif.min.js"></script>
    <script src="~/Scripts/purify.js"></script>
    <script src="~/Scripts/sortable.js"></script>
    <script src="~/Scripts/sortable.min.js"></script>
    <script src="~/Scripts/purify.min.js"></script>
    <script src="~/Scripts/fileinput.min.js"></script>
    <script src="~/Scripts/es.js"></script>
    <script src="~/Scripts/theme.min.js"></script>
    <script type="text/javascript">
    //Cuando se crea un usuario por primera vez se oculta el campo "Estatus" segun forti
    $(document).ready(function () {
        //$('#estatus').hide();
    });
    $('#upFile').fileinput({
        theme: 'fa',
        language: 'es',
        showUpload: false,
        maxFileSize: 3000,
        maxFilesNum: 1,
        allowedFileExtensions: ['jpg', 'png']
    });

    </script>
<script type="text/javascript">
    //acciones automaticas al cargar la pagina
    window.onload = function () {

        var cambiospersonales = document.getElementById("get_cambiospersonales").value;
        console.log(cambiospersonales);
        if (cambiospersonales == 1) {
            $("#showtoast").click();
        };
    };
    function borrar()
    {
        $("#borrar_link")[0].click();
    }
</script>





}