@model Entities.Pregunta


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div>
    <h4>Pregunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TituloPregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TituloPregunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContenidoPregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoPregunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<div>
 @Html.Partial("_CreateRespuesta" , new Entities.Respuesta())
</div>
